#activity{
    @include wh(491px,1057px);
    background: url(http://img12.360buyimg.com/babel/s2114x982_jfs/t1/135660/10/900/182054/5ed34706E5e196a76/dfe61c8f66fde462.jpg!cc_1057x491.webp);
    background-size: cover;
    margin: 0 auto;
    margin-top: 30px;
    a{
        display: block;
        @include wh(116px,1057px);
    }
    .activity_goods{
        @include wh(364px,990.5px);
        margin: 0 auto;
        .goods_l{
            @include wh(364px,832.5px);
            // background-color: red;
            float: left;
            ul{
                @include wh(364px,832.5px);
                display: flex;
                flex-wrap: wrap;
                align-content: flex-start;
                li{
                    @include wh(173px,158.5px);
                    margin: 0 8px 8px 0;
                    background-color: red;
                    a{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: space-evenly;
                        @include wh(173px,158.5px);
                        background: url(http://img12.360buyimg.com/img/s380x420_jfs/t1/111610/39/3394/6521/5ea7a45aE291dbf97/188d427421f6f3fe.png!cc_190x210.webp);
                        background-size: cover;
                        .imgw{
                            @include wh(108px,108px); 
                            img{
                                @include wh(108px,108px); 
                            }
                        }
                        p{
                            @include wh(25px,145px); 
                            border-radius: 12.5px;
                            background: url(http://img13.360buyimg.com/img/s344x60_jfs/t1/114015/34/3404/1121/5ea7a45fEc81fc7be/7662db8f8853e39b.png!cc_172x30.webp);
                            background-size: cover;
                            color: #fff;
                            text-align: center;
                            line-height: 25px;
                        }
                        span{
                            font-size: 13.3px;
                            color: #de452b;
                            margin-bottom: 2px;
                        }
                    }
                }
            }
        }
        .goods_r{
            @include wh(364px,158px);
            background-color: blue;
            float: left;
        }
    }
}