@charset "UTF-8";
.container {
  width: 990px;
  margin: 0 auto;
}

#cart_list .list_wrap ul li::after, #cart_final::after {
  content: "";
  height: 0;
  display: block;
  overflow: hidden;
  visibility: hidden;
  clear: both;
}

.iconfont {
  font-family: iconfont, sans-serif;
  font-style: normal;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}

.upload-bg {
  font-family: iconfont, sans-serif;
  color: #9f9f9f;
}

/* 自定义字体文件引入 */
@font-face {
  font-family: impact;
  src: url(../font/b07c9855bd807ccc9d825cb0392c6ef8.woff) format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: fzzzh;
  src: url(//misc.360buyimg.com/mtd/pc/index_2019/1.0.0/fonts/f7001cef4a64d1b77d0cd4dfc670cc35.woff) format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: iconfont;
  src: url(../font/a84f5777e97992c6fb6d423c003f187b.woff) format("woff");
}
#header {
  height: 30px;
  background-color: #e3e4e5;
}

#search {
  height: 145px;
}

/* 购物车 */
/* 全部商品+配送地址 */
#cart_final span {
  float: left;
  font-size: 16px;
  color: #E2231A;
  font-weight: 800;
  line-height: 28px;
  border-bottom: 1px solid #E2231A;
}
#cart_final span i {
  margin-left: 2px;
}
#cart_final .cart_place {
  float: right;
  line-height: 26px;
}
#cart_final .cart_place u {
  display: inline-block;
  padding: 0 24px 0 4px;
  position: relative;
  border: 1px solid #ddd;
}
#cart_final .cart_place u b {
  position: absolute;
  width: 17px;
  height: 17px;
  right: 4px;
  top: 50%;
  transform: translateY(-50%);
  background: url(../images/jiantou.png) no-repeat 3px 5px;
}

/* 购物车商品列表 */
#cart_list .list_wrap ul {
  margin: 0 -1px -1px -1px;
}
#cart_list .list_wrap ul li {
  margin: 20px 0;
  border: 1px solid #e3e4e5;
  /* 商品列表的标题栏 */
  /* 每一个加入购物车的产品 */
  /* 总计 */
}
#cart_list .list_wrap ul li > div {
  float: left;
}
#cart_list .list_wrap ul li .select {
  width: 40px;
  height: 32px;
}
#cart_list .list_wrap ul li .select input, #cart_list .list_wrap ul li.cart_good .select .cart_count span, #cart_list .list_wrap ul li.cart_good .cart_count .select span {
  width: 12px;
  height: 12px;
  position: relative;
  left: 8px;
  top: 3px;
}
#cart_list .list_wrap ul li .type {
  width: 450px;
  margin-right: 30px;
}
#cart_list .list_wrap ul li .cart_price {
  width: 100px;
}
#cart_list .list_wrap ul li .cart_count {
  width: 80px;
  text-align: center;
  margin-right: 40px;
}
#cart_list .list_wrap ul li .cart_sum {
  width: 100px;
  padding-right: 40px;
}
#cart_list .list_wrap ul li .cart_oper {
  width: 75px;
}
#cart_list .list_wrap ul li.cart_title {
  color: #666;
  height: 32px;
  padding: 5px 0;
  line-height: 32px;
  border: 1px solid #e3e4e5;
  background-color: #f3f3f3;
}
#cart_list .list_wrap ul li.cart_title .select {
  position: relative;
}
#cart_list .list_wrap ul li.cart_title .select i {
  position: absolute;
  left: 28px;
  top: 50%;
  width: 40px;
  transform: translateY(-50%);
}
#cart_list .list_wrap ul li.cart_title .type {
  text-indent: 80px;
}
#cart_list .list_wrap ul li.cart_title .cart_price {
  text-indent: 20px;
}
#cart_list .list_wrap ul li.cart_title .cart_count {
  text-indent: 10px;
}
#cart_list .list_wrap ul li.cart_title .cart_sum {
  text-indent: 30px;
}
#cart_list .list_wrap ul li.cart_good {
  padding-top: 15px;
  padding-bottom: 10px;
}
#cart_list .list_wrap ul li.cart_good:hover .show {
  display: block !important;
}
#cart_list .list_wrap ul li.cart_good .type {
  /* 小图片容器 */
}
#cart_list .list_wrap ul li.cart_good .type .spic {
  float: left;
  position: relative;
}
#cart_list .list_wrap ul li.cart_good .type .spic img {
  border: 1px solid #e3e4e5;
  width: 80px;
  height: 80px;
}
#cart_list .list_wrap ul li.cart_good .type .spic .show {
  display: none;
  background: rgba(0, 0, 0, 0.3);
  width: 81px;
  height: 81px;
  position: absolute;
  left: 0px;
  top: 0px;
}
#cart_list .list_wrap ul li.cart_good .type .spic .show .show_btn {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 5px;
  display: block;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 5px 18px 5px 17px;
  width: 36px;
  color: #fff;
}
#cart_list .list_wrap ul li.cart_good .type .spic .show .show_btn:hover {
  background-color: #E2231A;
}
#cart_list .list_wrap ul li.cart_good .type .spic .show .show_btn i {
  position: absolute;
  right: 5px;
  top: 9px;
  width: 9px;
  height: 5px;
  background: url(../images/similar-ud.png) no-repeat -9px 0;
}
#cart_list .list_wrap ul li.cart_good .type p {
  float: left;
  width: 170px;
  height: 36px;
  margin: 0 20px 0 10px;
  line-height: 20px;
  color: #333;
  overflow: hidden;
  font-size: 12px;
  text-overflow: ellipsis;
  word-break: break-all;
  font: 12px/150% tahoma, arial, Microsoft YaHei, Hiragino Sans GB, "u5b8bu4f53", sans-serif;
}
#cart_list .list_wrap ul li.cart_good .type span {
  font-size: 12px;
  width: 120px;
}
#cart_list .list_wrap ul li.cart_good .cart_price {
  font-weight: 700;
}
#cart_list .list_wrap ul li.cart_good .cart_count {
  font-size: 0;
}
#cart_list .list_wrap ul li.cart_good .cart_count input, #cart_list .list_wrap ul li.cart_good .cart_count span {
  width: 42px;
  height: 18px;
  vertical-align: middle;
  border: 1px solid #e3e4e5;
  margin: 0 -1px -1px -1px;
  text-align: center;
}
#cart_list .list_wrap ul li.cart_good .cart_count span {
  vertical-align: middle;
  display: inline-block;
  width: 16px;
  font-size: 12px;
  text-align: center;
  line-height: 18px;
  color: #666;
  /* 禁止点击的类 */
}
#cart_list .list_wrap ul li.cart_good .cart_count span.disable {
  color: #e3e4e5;
  cursor: not-allowed;
}
#cart_list .list_wrap ul li.cart_good .cart_sum {
  font-size: 12px;
  font-weight: 700;
  color: #000;
}
#cart_list .list_wrap ul li.cart_good .cart_sum strong {
  font-weight: 800;
}
#cart_list .list_wrap ul li.cart_good .cart_oper {
  color: #666;
}
#cart_list .list_wrap ul li.cart_good .cart_oper p {
  margin-top: 3px;
}
#cart_list .list_wrap ul li.aggregate {
  padding: 0;
  background-color: #fff;
}
#cart_list .list_wrap ul li.aggregate .select {
  margin-top: 15px;
}
#cart_list .list_wrap ul li.aggregate .type {
  margin-top: 15px;
  width: 552px;
}
#cart_list .list_wrap ul li.aggregate .type span {
  margin-right: 5px;
}
#cart_list .list_wrap ul li.aggregate .type .delall {
  font-weight: 800;
}
#cart_list .list_wrap ul li.aggregate .cart_count {
  margin-top: 8px;
  height: 30px;
  font-size: 12px;
  color: #666;
}
#cart_list .list_wrap ul li.aggregate .cart_count i {
  font-weight: 800;
  color: #E2231A;
}
#cart_list .list_wrap ul li.aggregate .cart_sum {
  margin-top: 8px;
  width: 100px;
}
#cart_list .list_wrap ul li.aggregate .cart_sum strong {
  font-size: 16px;
  color: #E2231A;
  font-weight: 800;
  vertical-align: middle;
}
#cart_list .list_wrap ul li.aggregate .cart_oper {
  width: 94px;
  height: 52px;
  background-color: #E2231A;
  color: #FFF;
  margin-left: 14px;
  font-size: 24px;
  text-align: center;
  line-height: 52px;
}

/*# sourceMappingURL=cart.css.map */
