@charset "UTF-8";
.container {
  width: 990px;
  margin: 0 auto;
}

.addcart::after, #commodity .commoditypic .littlepic .lpicwrap ul::after, #commodity::after, #detail_nav::after, #storesoption::after, #search::after {
  content: "";
  height: 0;
  display: block;
  overflow: hidden;
  visibility: hidden;
  clear: both;
}

.iconfont {
  font-family: iconfont, sans-serif;
  font-style: normal;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}

.upload-bg {
  font-family: iconfont, sans-serif;
  color: #9f9f9f;
}

/* 自定义字体文件引入 */
@font-face {
  font-family: impact;
  src: url(../font/b07c9855bd807ccc9d825cb0392c6ef8.woff) format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: fzzzh;
  src: url(//misc.360buyimg.com/mtd/pc/index_2019/1.0.0/fonts/f7001cef4a64d1b77d0cd4dfc670cc35.woff) format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: iconfont;
  src: url(../font/a84f5777e97992c6fb6d423c003f187b.woff) format("woff");
}
.iconfont {
  font-family: iconfont, sans-serif;
  font-style: normal;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}

.upload-bg {
  font-family: iconfont, sans-serif;
  color: #9f9f9f;
}

#main {
  padding-bottom: 50px;
}

.container {
  width: 990px;
  margin: 0 auto;
}

#header {
  width: 100%;
  height: 30px;
  background-color: #e3e4e5;
  margin: 0 auto;
}
#header .container {
  height: 30px;
  position: relative;
}
#header .container .big {
  display: none;
  position: absolute;
  left: 0;
  top: 29px;
  right: unset;
  border: solid 1px #ccc;
  width: 988px;
  height: 221px;
  padding: 15px 0;
}
#header .left {
  float: left;
}
#header .left .area {
  position: relative;
  font-size: 0;
  width: 58px;
  height: 28px;
  line-height: 28px;
  text-align: center;
  border: solid 1px #e3e4e5;
}
#header .left .area .icon-ziyuan {
  color: #f10215;
}
#header .left .area:hover {
  border: solid 1px #ccc;
  height: 29.5px;
  z-index: 99;
  border-bottom: unset;
  background-color: #fff;
}
#header .left .area:hover + .city {
  z-index: 1;
  display: block;
}
#header .left .city {
  position: absolute;
  left: 0;
  top: 29px;
  right: unset;
  display: none;
  background-color: #fff;
  z-index: 99;
  width: 300px;
  height: 442px;
  padding: 10px;
  border: solid 1px #ccc;
}
#header .left .city ul li {
  width: 52px;
  height: 28px;
  padding-left: 8px;
  line-height: 28px;
  text-align: left;
  float: left;
}
#header .left .city ul li .active {
  display: block;
  width: 24px;
  height: 28px;
  padding: 0 8px;
  background-color: #f10215;
  color: #fff;
}
#header .nav {
  float: right;
  height: 100%;
}
#header .nav ul {
  height: 100%;
}
#header .nav ul li {
  float: left;
  height: 100%;
  position: relative;
}
#header .nav ul li.lore {
  position: relative;
}
#header .nav ul li.lore::after {
  position: absolute;
  right: 0;
  top: 0;
}
#header .nav ul li.lore .user {
  display: inline-block;
  display: none;
  line-height: 30px;
}
#header .nav ul li.lore .user span {
  display: inline-block;
  vertical-align: middle;
  padding: 0 1px;
  line-height: 12px;
  font-size: 10px;
  color: #666;
  margin-left: 5px;
  border: #999 1px solid;
  cursor: pointer;
}
#header .nav ul li .list {
  position: absolute;
  left: 0;
  top: 29px;
  right: unset;
  border: solid 1px #ccc;
  display: none;
  background-color: #fff;
  z-index: 99;
}
#header .nav ul li .oneitem {
  width: 280px;
  height: 161px;
}
#header .nav ul li .twoitem {
  width: 140px;
  height: 72px;
  padding: 10px 0;
}
#header .nav ul li .thirditem {
  width: 177px;
  height: 227px;
}
#header .nav ul li a {
  text-align: center;
  display: inline-block;
  padding: 0 7px;
  line-height: 30px;
  vertical-align: top;
}
#header .nav ul li .login {
  padding: 0;
}
#header .nav ul li .item {
  height: 28px;
  padding-right: 20px;
  position: relative;
  z-index: 99;
  border: solid #e3e4e5 1px;
  border-bottom: unset;
}
#header .nav ul li .item .icon-xiangxia {
  position: absolute;
  left: unset;
  top: 1px;
  right: 6px;
  color: #999;
  font-size: 12px;
  font-weight: 700;
}
#header .nav ul li .item:hover {
  border: solid 1px #ccc;
  border-bottom: unset;
  background-color: #fff;
  height: 29.5px;
  z-index: 99;
}
#header .nav ul li .item:hover + .list {
  display: block;
}
#header .nav ul li:not(.last)::after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 10px;
  margin: 11px 5px 0;
  background-color: #ccc;
}

#search.container {
  position: relative;
}
#search .logo {
  float: left;
  width: 190px;
  height: 120px;
  position: absolute;
  left: 0;
  top: 0;
  right: unset;
  bottom: 0;
  margin: auto 0;
}
#search .logo img {
  width: 190px;
  height: 120px;
}
#search .right {
  width: 770px;
  float: right;
}
#search .right .search-m {
  width: 770px;
  height: 36px;
  padding-top: 24px;
}
#search .right .search-m .form {
  border: solid 2px #e2231a;
  width: 486px;
  height: 32px;
  position: relative;
  float: left;
}
#search .right .search-m .form .search_b, #search .right .search-m .form .search_t {
  position: absolute;
  left: 0;
  top: 0;
  right: unset;
  width: 367px;
  height: 28px;
  line-height: 28px;
  padding: 2px 44px 2px 17px;
  color: #999;
  z-index: 50;
}
#search .right .search-m .form .search_t {
  border: 0;
  z-index: 2;
}
#search .right .search-m .form .upload-bg {
  position: absolute;
  left: unset;
  top: 6px;
  right: 75px;
  font-size: 20px;
  color: #999;
  z-index: 90;
}
#search .right .search-m .form button {
  width: 58px;
  height: 32px;
  position: absolute;
  left: unset;
  top: 0px;
  right: 0px;
  background-color: #e1251b;
  border: 0;
}
#search .right .search-m .form button .iconfont {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
}
#search .right .search-m .car {
  float: left;
  margin-left: 18px;
  width: 130px;
  height: 34px;
  border: solid 1px #eee;
  color: #e1251b;
  line-height: 34px;
  text-align: center;
  position: relative;
}
#search .right .search-m .car .icon-Shapecopy {
  font-weight: 700;
  font-size: 16px;
}
#search .right .search-m .car b {
  position: absolute;
  left: 30px;
  top: 1px;
  right: unset;
  width: 18px;
  height: 14px;
  border-radius: 7px;
  background-color: #e1251b;
  color: #fff;
  font-size: 12px;
  text-align: center;
  line-height: 14px;
}
#search .right .search-m .car a {
  color: #e1251b;
}
#search .right .search-m .car:hover {
  border-color: #c81623;
}
#search .right #hotwords {
  margin-top: 5px;
  line-height: 20px;
}
#search .right #hotwords a {
  margin-right: 10px;
}
#search .right #hotwords .hotwords_item {
  color: #c81623;
}
#search .right #hotwords a:hover {
  color: #c81623;
}
#search .right #littlenav {
  padding-top: 20px;
  height: 40px;
  margin-left: -20px;
}
#search .right #littlenav .navul li {
  float: left;
}
#search .right #littlenav .navul li a {
  line-height: 40px;
  display: block;
  margin: 0 11px;
  font-size: 15px;
  color: #333;
}
#search .right #littlenav .navul li a:hover {
  color: #c81623;
}
#search .right #littlenav .navul li .navfw {
  color: #c81623;
  font-weight: 700;
}

#store {
  height: 110px;
}
#store .store_wrap {
  padding-top: 25px;
  margin-top: 10px;
}
#store .store_wrap > div {
  vertical-align: middle;
  display: inline-block;
}
#store .store_wrap > div.store_logo {
  width: 180px;
  height: 60px;
}
#store .store_wrap > div.store_logo img {
  width: 100%;
  height: 100%;
}
#store .store_wrap > div.sore_name {
  height: 60px;
  margin-left: 10px;
}
#store .store_wrap > div.sore_name p {
  font-size: 18px;
  color: #333;
  line-height: 33px;
}
#store .store_wrap > div.sore_name h3 {
  margin-top: 5px;
  width: 47px;
  height: 23px;
  padding-left: 24px;
  font-size: 12px;
  color: #fff;
  line-height: 23px;
  background: url(../images/stoe.png) no-repeat 0 -66px;
}
#store .store_wrap > div.sore_name h3:hover {
  background-position: 0 -33px;
}

/* 分类导航 */
#storesoption {
  margin-top: 20px;
  margin-bottom: 10px;
}
#storesoption p {
  float: left;
}
#storesoption p .one {
  font-weight: 700;
}
#storesoption p a {
  color: #000;
  display: inline-block;
  padding: 0 10px;
  margin-right: 5px;
  line-height: 22px;
  height: 22px;
  font-size: 14px;
  border-radius: 10px;
}
#storesoption p a:hover {
  background-color: #333;
  color: #fff;
}
#storesoption .detail_search {
  float: right;
}
#storesoption .detail_search input {
  width: 120px;
  height: 22px;
  line-height: 22px;
  padding-left: 10px;
  border-radius: 11px 0 0 11px;
  border: 1px solid #ddd;
  outline-color: transparent;
  vertical-align: middle;
}
#storesoption .detail_search button {
  width: 46px;
  padding: 0 10px;
  height: 24px;
  border-radius: 0 12px 12px 0;
  background: url(../images/fdj.png) no-repeat center center;
  border: 0;
  background-color: #333;
  vertical-align: middle;
  margin-left: -5px;
}

#detail_nav {
  background-color: #e3e4e5;
}
#detail_nav .nav_l {
  padding: 13px 0 9px 0;
  float: left;
}
#detail_nav .nav_l .sep {
  font-family: simsun;
  padding: 0 3px;
}
#detail_nav .nav_l strong {
  display: inline-block;
  font-size: 12px;
  line-height: 20px;
  background-color: #fff;
  color: #333;
  padding: 0 3px;
  padding-right: 30px;
  border: 1px solid #999;
  vertical-align: middle;
  position: relative;
}
#detail_nav .nav_l strong u {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  width: 13px;
  height: 7px;
  background: url(../images/arr-close.png) no-repeat 0 0;
  background-size: contain;
  margin-left: 10px;
}
#detail_nav .nav_l strong:hover u {
  transition: 0.4s;
  transform: translateY(-50%) rotate(180deg);
}
#detail_nav .nav_l b {
  display: inline-block;
  width: 120px;
  height: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
  line-height: 20px;
}
#detail_nav .nav_r {
  padding-top: 13px;
  float: right;
}
#detail_nav .nav_r ul li {
  margin-right: 10px;
  float: left;
  color: #666;
  margin-top: 3px;
}
#detail_nav .nav_r ul li i {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url(../images/ssprite.png);
  background-repeat: no-repeat;
  vertical-align: middle;
  margin-right: 5px;
}
#detail_nav .nav_r ul li i.rel {
  background-position: -34px -16px;
}
#detail_nav .nav_r ul li i.att {
  background-position: -34px 0;
}
#detail_nav .nav_r ul li.pic {
  position: relative;
}
#detail_nav .nav_r ul li.pic img {
  width: 78px;
  height: 18px;
}
#detail_nav .nav_r ul li.pic .pledge {
  display: none;
  position: absolute;
  left: 50%;
  top: 23px;
  transform: translateX(-50%);
  width: 256px;
  height: 249px;
  background: url(../images/goodshop-hover.png) no-repeat 0 0;
}

#commodity {
  padding-top: 5px;
}
#commodity .commoditypic {
  float: left;
  /* 小图 */
}
#commodity .commoditypic .picwrap {
  width: 352px;
  height: 352px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  position: relative;
  /* 中等图片 */
}
#commodity .commoditypic .picwrap .mediumpic {
  /* 中等图片盒子 */
  position: relative;
  /* 遮罩 遮罩的宽要js计算得出  通过比例*/
  /* 巨大的图盒子 */
}
#commodity .commoditypic .picwrap .mediumpic .bimg {
  width: 352px;
  height: 352px;
}
#commodity .commoditypic .picwrap .mediumpic .bimg img {
  width: 352px;
  height: 352px;
}
#commodity .commoditypic .picwrap .mediumpic .shadow {
  display: none;
  background-color: rgba(255, 255, 0, 0.4);
  position: absolute;
  left: 0;
  top: 0;
}
#commodity .commoditypic .picwrap .mediumpic .bbimg {
  display: none;
  position: absolute;
  left: 353px;
  top: 0;
  width: 400px;
  height: 400px;
  overflow: hidden;
  z-index: 8;
  background-color: #fff;
}
#commodity .commoditypic .picwrap .mediumpic .bbimg img {
  position: absolute;
  left: 0;
  top: 0;
  width: 1056px;
  height: 1056px;
}
#commodity .commoditypic .littlepic {
  width: 290px;
  height: 54px;
  margin-bottom: 18px;
  padding: 0 22px;
  position: relative;
  overflow: hidden;
  /* 小图容器，用与隐藏超出的图片 */
  /* 按钮 */
}
#commodity .commoditypic .littlepic .lpicwrap {
  width: 290px;
  height: 54px;
  position: relative;
  overflow: hidden;
  /* 移动的小图ul */
}
#commodity .commoditypic .littlepic .lpicwrap ul {
  position: absolute;
  left: 0;
  top: 0;
  height: 54px;
  overflow: hidden;
}
#commodity .commoditypic .littlepic .lpicwrap ul li {
  float: left;
  margin: 0 2px;
}
#commodity .commoditypic .littlepic .lpicwrap ul li img {
  width: 50px;
  height: 50px;
  border: 2px solid #fff;
}
#commodity .commoditypic .littlepic .lpicwrap ul li:hover img {
  border-color: #e53e41;
  z-index: 1;
}
#commodity .commoditypic .littlepic span {
  position: absolute;
  top: 50%;
  width: 22px;
  height: 32px;
  transform: translateY(-50%);
}
#commodity .commoditypic .littlepic span.picleft {
  left: 0;
  background: url(../images/disabled-prev.png) no-repeat 0 0;
}
#commodity .commoditypic .littlepic span.picright {
  right: 0;
  background: url(../images/jtsprite.png) no-repeat -78px 0;
}
#commodity .commoditypic > p {
  width: 350px;
  height: 20px;
  position: relative;
}
#commodity .commoditypic > p i, #commodity .commoditypic > p u, #commodity .commoditypic > p b {
  display: inline-block;
  width: 15px;
  height: 16px;
  background-image: url(../images/jtsprite.png);
  background-repeat: no-repeat;
  margin: 0 8px 0 5px;
}
#commodity .commoditypic > p i {
  background-position: -44px -38px;
}
#commodity .commoditypic > p u {
  background-position: -45px -24px;
}
#commodity .commoditypic > p b {
  background-position: -30px -24px;
}
#commodity .commoditypic > p span {
  position: absolute;
  right: 0;
  top: p;
}

.favorable {
  float: left;
  width: 590px;
  margin-left: 30px;
  /* 活动横幅 */
  /* 价格 +促销  有背景色*/
  /* 小细节*/
  /* 提示  由京东发货 */
}
.favorable .titleprice {
  padding-bottom: 20px;
  border-bottom: 1px dashed #ddd;
}
.favorable .detail_title {
  padding-top: 10px;
  margin-bottom: 5px;
  font-size: 16px;
  line-height: 28px;
  color: #666;
}
.favorable .trait {
  margin-bottom: 5px;
}
.favorable .trait h3 {
  color: #e4393c;
  font: 12px/150% tahoma, arial, Microsoft YaHei, Hiragino Sans GB, "u5b8bu4f53", sans-serif;
}
.favorable .trait a {
  color: #5e69ad;
  text-decoration: underline;
}
.favorable .activity_banner {
  height: 32px;
  background: url(http://m.360buyimg.com/cc/jfs/t1/118924/16/7277/31844/5ec22e41E568179dd/cd7fc290bd4d8724.png) no-repeat 0 0;
}
.favorable .detail_price {
  background-color: #f3f3f3;
  /* 促销 */
}
.favorable .detail_price .pricewrap {
  padding-top: 10px;
  position: relative;
}
.favorable .detail_price .pricewrap .price p {
  color: #e4393c;
}
.favorable .detail_price .pricewrap .price p i {
  font-size: 16px;
  vertical-align: 1px;
}
.favorable .detail_price .pricewrap .price p strong {
  font-size: 22px;
  line-height: 22px;
}
.favorable .detail_price .pricewrap .price p u {
  color: #005aa0;
  margin-left: 10px;
  vertical-align: 4px;
}
.favorable .detail_price .pricewrap .eval {
  position: absolute;
  right: 10px;
  top: 8px;
}
.favorable .detail_price .pricewrap .eval ul li {
  float: left;
  border-left: 1px solid #e6e6e6;
  color: #999;
  padding: 0 10px;
  text-align: center;
}
.favorable .detail_price .pricewrap .eval ul li p {
  font-size: 14px;
  color: #005ea7;
}
.favorable .detail_price .promotion {
  margin-top: 12px;
  background: url(../images/price-bg.png) repeat-x 0 0;
}
.favorable .detail_price .promotion p {
  width: 430px;
  height: 60px;
  line-height: 30px;
  position: relative;
}
.favorable .detail_price .promotion p i {
  display: inline-block;
  border: 1px solid #df3033;
  color: #df3033;
  line-height: 14px;
  text-align: center;
  padding: 2px 3px;
  margin-right: 2px;
}
.favorable .detail_price .promotion p u {
  font-size: 12px;
  color: #666;
}
.favorable .detail_price .promotion p a {
  position: absolute;
  left: 0;
  width: 100%;
  top: 0;
  height: 60px;
  text-align: right;
}
.favorable .detail_price .promotion p a s {
  position: absolute;
  left: 0;
  top: 20px;
}
.favorable .detail_price .promotion p a:hover {
  color: #c81623;
}
.favorable .location {
  padding-top: 10px;
}
.favorable .location .work {
  margin-bottom: 8px;
}
.favorable .location .work p a {
  display: inline-block;
  padding: 0 5px 0 18px;
  position: relative;
  margin-right: 10px;
  color: #5e69ad;
  border: 1px solid #ced2e6;
  border-radius: 7px;
}
.favorable .location .work p a i, .favorable .location .work p a u {
  display: block;
  background: url(../images/detailsprite.png) no-repeat;
  width: 16px;
  height: 16px;
  position: absolute;
  left: 0;
  top: 0;
}
.favorable .location .work p a i {
  background-position: 0 -32px;
}
.favorable .location .work p a u {
  background-position: -48px -32px;
}
.favorable .location .place h4 {
  top: 11px;
}
.favorable .location .place .place-r {
  height: 48px;
}
.favorable .location .place .place-r .r_top {
  margin-bottom: 3px;
  height: 24px;
}
.favorable .location .place .place-r .r_top span {
  display: inline-block;
  line-height: 23px;
  padding: 0 24px 0 4px;
  border: 1px solid #ddd;
}
.favorable .location .place .place-r .r_top i {
  font-size: 12px;
  font-weight: 700;
  color: #666;
}
.favorable .location .place .place-r .r_bot p {
  line-break: 20px;
  color: #333;
}
.favorable .location .place .place-r .r_bot p i {
  color: #646fb0;
  margin: 0 10px;
}
.favorable .location .place .place-r .r_bot p span {
  color: #ddd;
}
.favorable .hint {
  margin-top: 10px;
}
.favorable .hint .dethint p {
  color: #999;
}
.favorable .hint .dethint p span {
  color: #e4393c;
}
.favorable .hint .dethint p i {
  font-weight: 700;
}
.favorable .dweight {
  margin-top: 30px;
}

/* 共同样式 价格 促销 */
.item {
  position: relative;
  padding-left: 70px;
}
.item h4 {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 12px;
  color: #999;
  line-height: 22px;
  margin-left: 10px;
}

.s-arrow {
  font-family: simsun;
  text-decoration: none;
}

.addcart {
  margin-top: 20px;
}
.addcart > div {
  float: left;
}
.addcart .del_count {
  width: 58px;
  height: 44px;
  border: 1px solid #ddd;
  position: relative;
}
.addcart .del_count input {
  width: 43px;
  height: 44px;
  text-align: center;
  line-break: 44px;
  font-size: 16px;
  border: 0;
  outline-color: transparent;
}
.addcart .del_count i {
  position: absolute;
  width: 15px;
  height: 22px;
  border-left: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  margin-top: 1px;
  right: 0;
  cursor: pointer;
  text-align: center;
  line-height: 22px;
  font-size: 16px;
  /* 禁用的类名 */
}
.addcart .del_count i.disable {
  cursor: not-allowed;
  color: #ddd;
}
.addcart .del_count i.add {
  top: 0;
}
.addcart .del_count i.sub {
  bottom: -1px;
}
.addcart .del_add, .addcart .del_subsidy {
  padding: 0 26px;
  line-height: 46px;
  font-size: 18px;
  color: #fff;
  font-weight: 700;
  text-align: center;
  background-color: #df3033;
  margin-left: 10px;
  cursor: pointer;
}
.addcart .del_subsidy {
  background-color: #85c360;
}

/*# sourceMappingURL=detail.css.map */
